
   @media only screen and (max-width: 770px) {
      .list {
       
        width: 100%;
      }
    }
.card {
    margin: 0 1% !important;
    border-bottom: 5px solid rgba(0, 0, 255, 0.5);
   
    }