.card{
   
    background-color: grey;
    border-bottom: 2px solid black !important;
    border-left: 2px solid black !important;
   
}
.para{
    font-size: small;
}
.para1{
    font-size: medium;
}
